
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 44% 95%;
    --foreground: 220 9% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 9% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 10%;
    --primary: 19 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213 69% 32%;
    --secondary-foreground: 0 0% 100%;
    --muted: 40 30% 91%;
    --muted-foreground: 220 9% 40%;
    --accent: 43 100% 50%;
    --accent-foreground: 220 9% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 20% 89%;
    --input: 40 20% 89%;
    --ring: 19 100% 50%;
    --chart-1: 19 100% 50%;
    --chart-2: 213 69% 32%;
    --chart-3: 134 25% 38%;
    --chart-4: 43 100% 50%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 213 69% 25%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 19 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 213 60% 42%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 213 60% 42%;
    --sidebar-ring: 19 100% 50%;
  }

  .dark {
    --background: 220 9% 10%;
    --foreground: 40 44% 95%;
    --card: 220 9% 12%;
    --card-foreground: 40 44% 95%;
    --popover: 220 9% 12%;
    --popover-foreground: 40 44% 95%;
    --primary: 19 100% 50%;
    --primary-foreground: 220 9% 10%;
    --secondary: 213 69% 32%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 9% 17%;
    --muted-foreground: 40 44% 80%;
    --accent: 43 100% 50%;
    --accent-foreground: 220 9% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 9% 17%;
    --input: 220 9% 17%;
    --ring: 19 100% 50%;
    
    --sidebar-background: 220 9% 10%;
    --sidebar-foreground: 40 44% 94%;
    --sidebar-primary: 19 100% 50%;
    --sidebar-primary-foreground: 220 9% 10%;
    --sidebar-accent: 220 9% 17%;
    --sidebar-accent-foreground: 19 100% 50%;
    --sidebar-border: 220 9% 17%;
    --sidebar-ring: 19 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
